:root {
  --dark_bg: #1E252b;
  --white: #ffffff;
  --dark_blue: #29374E;
  --main_font: 'Poppins', "Arial", sans-serif;;
  --desktop_width: 1224px;
}

h1,
h2,
h3,
p {
  margin: 0;
  font-weight: 400;
}

body {
  font-family: var(--main_font);
  padding: 0;
  color: var(--white);
  background-color: var(--dark_bg);
}

.container {
  width: var(--desktop_width);
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
}
